@import "tailwindcss";
body {
  font-family: "Poppins", sans-serif;
}
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  image-rendering: pixelated;
}
